$primary-palette: mat-palette($mat-blue);
$secondary-palette: mat-palette($mat-green, A200, A100, A400);
$light-theme: mat-light-theme($primary-palette, $secondary-palette);
$dark-theme: mat-dark-theme($primary-palette, $secondary-palette);
