.masonry-item {
  width: 250px;
  margin: 15px;
}

md-card-subtitle {
  white-space: pre-wrap;
  overflow: hidden;
  overflow-wrap: break-word;
}

md-card-actions {
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, .12);
}

.dark-theme md-card-actions {
  border-top: 1px solid rgba(255, 255, 255, .12);
}

.show-button {
  text-align: center;
}
