.container {
  min-height: 100%;
  padding: 64px 10px;
}

button {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 2;
}

@media (min-width: 601px) {
  button {
    bottom: 36px;
    right: 36px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
